*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}
    
    body{
    min-height: min-content;
    max-height: max-content;
    background-image: linear-gradient(-90deg,  rgb(20, 23, 51), rgb(0, 0, 0),  rgb(20, 23, 51), rgb(0, 0, 0)) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    position: relative;
    scroll-behavior: smooth;
    animation: Gradient 6s ease infinite;
}
    @-webkit-keyframes Gradient{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
   


   

    

    .yourimage{
        padding: 40px;
        width: 200px;
        height: 200px;
        background-image: url('udit.jpg');
        background-size: cover;
        display: block;
        border-radius: 200px;
    

    }
    
    .txt{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24 ;
        padding: 24px;
        color: white;


    }

    .info{
        font-family:  'Source Sans Pro', sans-serif;
        font-size: 18;
        padding: 0% 20%;
    }

    .skills{
        
        color:white ;
        align-items: center;
        justify-content: center;
        padding: 15%;

    }

    
    .bar{
        background: #ffffff;
        
        display: block;
        height: 15px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 0 15px white;
        align-items: center;
        justify-content: center;

    }

    .bar span{
        height: 20px;
        float: left;
        background-image: linear-gradient(to right,rgb(133, 245, 253),rgb(0, 255, 136));
        align-items: center;
        justify-content: center;
    }

    .HTML5{
        width: 75%;
        animation:HTML5 12s;

        
    }

    .CSS3{
        width: 45%;
        animation: CSS3 8s;
    }

    .JAVA{
        width: 20%;
        animation: JAVA 4s;

    }

    .PYTHON{
        width: 10%;
        animation: PYTHON 3s;
    }

    .C{
        width: 60%;
        animation: C 10s;
    }

    .Cpp{
        width: 36%;
        animation: Cpp 6s;
    }

    @keyframes HTML5{
        0%{
            width: 0%;
        }
        100%{
            width: 75%;

        }
    }

    @keyframes CSS3{
        0%{
            width: 0%;
        }
        100%{
            width: 45%;
        }
    }

    @keyframes JAVA{
        0%{
            width: 0%;
        }
        100%{
            width: 20%;
            
        }
    }

    @keyframes C{
        0%{
            width: 0%;
        }
        100%{
            width: 60%;
        }
    }

    @keyframes PYTHON{
        0%{
            width: 0%;
        }
        100%{
            width: 10%;
        }
    }

    @keyframes Cpp{
        0%{
            width: 0%;
        }
        100%{
            width: 36%;
        }
    }
    .fa-instagram{
        text-decoration: none;
        padding: 6px ;
        background-color: transparent;
        color: white;
        border-radius: 100px;
    }

    .fa-instagram:hover{
        color: #DD2A7B ;
        background-color: white;
    }

    .fa-facebook {
        text-decoration: none;
        padding: 6px ;
        background-color: transparent;
        color: white;
        border-radius: 100px;
      }

      .fa-facebook:hover {
        color: #3B5998 ;
        background-color: white;
      }
      
      .fa-github {
        text-decoration: none;
        padding: 6px ;
        background-color: transparent;
        color: white;
        border-radius: 100px;
      }

      .fa-github:hover{
        background-color: white;
        color: black ;
      }

      .fa-twitter {
        text-decoration: none;
        padding: 6px ;
        background-color: transparent;
        color: white;
        border-radius: 100px;

      }
  
      .fa-twitter:hover {
        color: skyblue ;
        background-color: white;
    
      }

